<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sisso.store">
    <uses-sdk
        android:minSdkVersion="9"/>
    
    <uses-permission android:name="com.android.vending.BILLING"/>
    
    <application>
	    <activity android:name="br.com.sisso.androidstore.StoreActivity" />
    </application>

</manifest>
